@import "mixins.scss";

.az-letters,
.a-z-listing-widget .az-letters,
.a-z-listing-widget.widget .az-letters {
	@include clearfix();
	display: flex;
	justify-content: center;
	@supports(display: grid) {
		display: block;
		&:after {
			display: none;
		}
	}
	ul.az-links {
		padding: 0;
		margin: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		@supports(display: grid) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
			grid-gap: 0.3em;
		}
		li {
			list-style: none;
			float: left;
			width: 2em;
			height: 2em;
			box-sizing: border-box;
			margin: 0.15em;
			border: 2px solid #e5e5e5;
			background: #f5f5f5;
			color: #adadad;
			display: flex;
			align-items: center;
			justify-content: center;
			@supports(display: grid) {
				display: grid;
				width: 100%;
				height: auto;
				margin: 0;
				padding: 0;
			}
			a {
				color: #1f7d9a;
				text-decoration: none;
				border: 0;
				box-shadow: none;
			}
		}
	}
}

.letter-section {
	@include clearfix();
	margin-bottom: 2em;
	h2.letter-title {
		border-bottom: 1px solid black;
		margin-bottom: 0.2em;
		padding-bottom: 0.2em;
		width: 100%;
	}
	ul, ul li {
		list-style: none;
		margin: 0;
	}
	div.column {
		box-sizing: border-box;
		&:nth-last-child(1) {
			flex-grow: 1;
		}
	}
	div.columns {
		width: 100%;
		column-count: 1;
		column-gap: 0.6em;
		@supports (display: grid) {
			display: grid;
			grid-gap: 0 0.6em;
			&:after {
				display: none;
			}
		}
	}
	div.back-to-top {
		width: 100%;
		text-align: right;
		a {
			text-transform: uppercase;
			font-size: 0.7em;
			&:before,
			&:after {
				font-family: dashicons;
				content: "\f343";
				padding: 0.2em;
			}
		}
	}
}
