root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.php]
indent_style = tab
indent_size = 4
curly_bracket_next_line = true
spaces_around_operators = true
spaces_around_brackets = true
indent_brace_style = KNF

[*.scss]
indent_style = tab
indent_size = 4