parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    # stubFiles:
    #     - phpstan/class-wp-post-type.stub
    bootstrapFiles:
        - phpstan/constants.php
        - a-z-listing.php
    paths:
        - a-z-listing.php
        - src/
    ignoreErrors:
        # Ignore any filters that are applied with more than 2 paramaters
        - '#^Function apply_filters(_ref_array)? invoked with ([1-9]|1[0-2]) parameters, 2 required\.$#'