plugin-readme-update:
  stage: release
  only:
    refs:
      - master
    changes:
      - readme.txt
      - .wordpress-org/**/*
  script:
    - |
      # Ensure SVN username and password are set
      # IMPORTANT: while secrets are encrypted and not viewable in the GitHub UI,
      # they are by necessity provided as plaintext in the context of the Action,
      # so do not echo or use debug mode unless you want your secrets exposed!
      if [[ -z "$SVN_USERNAME" ]]; then
        echo "Set the SVN_USERNAME secret"
        exit 1
      fi

      if [[ -z "$SVN_PASSWORD" ]]; then
        echo "Set the SVN_PASSWORD secret"
        exit 1
      fi

      # Allow some ENV variables to be customized
      if [[ -z "$SLUG" ]]; then
        SLUG=${GITHUB_REPOSITORY#*/}
      fi
      echo "ℹ︎ SLUG is $SLUG"

      if [[ -z "$ASSETS_DIR" ]]; then
        ASSETS_DIR=".wordpress-org"
      fi
      echo "ℹ︎ ASSETS_DIR is $ASSETS_DIR"

      if [[ -z "$README_NAME" ]]; then
        README_NAME="readme.txt"
      fi
      echo "ℹ︎ README_NAME is $README_NAME"

      SVN_URL="https://plugins.svn.wordpress.org/${SLUG}/"
      SVN_DIR="/github/svn-${SLUG}"

      # Checkout just trunk and assets for efficiency
      # Stable tag will come later, if applicable
      echo "➤ Checking out .org repository..."
      svn checkout --depth immediates "$SVN_URL" "$SVN_DIR"
      cd "$SVN_DIR"
      svn update --set-depth infinity assets
      svn update --set-depth infinity trunk

      echo "➤ Copying files..."
      # Copy readme to /trunk
      cp "$CI_PROJECT_DIR/$README_NAME" trunk/$README_NAME

      # Copy dotorg assets to /assets
      rsync -rc "$CI_PROJECT_DIR/$ASSETS_DIR/" assets/ --delete --delete-excluded

      echo "➤ Preparing files..."

      svn status

      # Readme also has to be updated in the .org tag
      echo "➤ Preparing stable tag..."
      STABLE_TAG=$(grep -m 1 "^Stable tag:" "trunk/$README_NAME" | tr -d '\r\n' | awk -F ' ' '{print $NF}')

      if [[ -z "$STABLE_TAG" ]]; then
          echo "ℹ︎ Could not get stable tag from $README_NAME";
        HAS_STABLE=1
      else
        echo "ℹ︎ STABLE_TAG is $STABLE_TAG"

        if svn info "^/$SLUG/tags/$STABLE_TAG" > /dev/null 2>&1; then
          svn update --set-depth infinity "tags/$STABLE_TAG"

          # Not doing the copying in SVN for the sake of easy history
          rsync -c "trunk/$README_NAME" "tags/$STABLE_TAG/"
        else
          echo "ℹ︎ Tag $STABLE_TAG not found"
        fi
      fi

      # Add everything and commit to SVN
      # The force flag ensures we recurse into subdirectories even if they are already added
      # Suppress stdout in favor of svn status later for readability
      svn add . --force > /dev/null

      # SVN delete all deleted files
      # Also suppress stdout here
      svn status | grep '^\!' | sed 's/! *//' | xargs -I% svn rm %@ > /dev/null

      # Now show full SVN status
      svn status

      echo "➤ Committing files..."
      svn commit -m "Updating readme/assets from GitHub" --no-auth-cache --non-interactive  --username "$SVN_USERNAME" --password "$SVN_PASSWORD"

      echo "✓ Plugin deployed!"

release-to-worg:
  stage: release
  needs:
    - job: build
      artifacts: true
  only:
    - tags
  script:
    - |
      # Ensure SVN username and password are set
      # IMPORTANT: while secrets are encrypted and not viewable in the GitHub UI,
      # they are by necessity provided as plaintext in the context of the Action,
      # so do not echo or use debug mode unless you want your secrets exposed!
      if [[ -z "$SVN_USERNAME" ]]; then
        echo "Set the SVN_USERNAME secret"
        exit 1
      fi

      if [[ -z "$SVN_PASSWORD" ]]; then
        echo "Set the SVN_PASSWORD secret"
        exit 1
      fi

      # Allow some ENV variables to be customized
      if [[ -z "$SLUG" ]]; then
        SLUG=${CI_PROJECT_NAME}
      fi
      echo "ℹ︎ SLUG is $SLUG"

      VERSION="${CI_COMMIT_TAG#v}"
      echo "ℹ︎ VERSION is $CI_COMMIT_TAG"

      if [[ -z "$ASSETS_DIR" ]]; then
        ASSETS_DIR=".wordpress-org"
      fi
      echo "ℹ︎ ASSETS_DIR is $ASSETS_DIR"

      SVN_URL="https://plugins.svn.wordpress.org/${SLUG}/"
      SVN_DIR="/github/svn-${SLUG}"

      # Checkout just trunk and assets for efficiency
      # Tagging will be handled on the SVN level
      echo "➤ Checking out .org repository..."
      svn checkout --depth immediates "$SVN_URL" "$SVN_DIR"
      cd "$SVN_DIR"
      svn update --set-depth infinity assets
      svn update --set-depth infinity trunk

      echo "➤ Copying files..."
      if [[ -e "$CI_PROJECT_DIR/.distignore" ]]; then
        echo "ℹ︎ Using .distignore"
        # Copy from current branch to /trunk, excluding dotorg assets
        # The --delete flag will delete anything in destination that no longer exists in source
        rsync -rc --exclude-from="$CI_PROJECT_DIR/.distignore" "$CI_PROJECT_DIR/" trunk/ --delete --delete-excluded
      else
        echo "ℹ︎ Using .gitattributes"

        cd "$CI_PROJECT_DIR"

        # "Export" a cleaned copy to a temp directory
        TMP_DIR="/github/archivetmp"
        mkdir "$TMP_DIR"

        git config --global user.email "10upbot+github@10up.com"
        git config --global user.name "10upbot on GitHub"

        # If there's no .gitattributes file, write a default one into place
        if [[ ! -e "$CI_PROJECT_DIR/.gitattributes" ]]; then
          cat > "$CI_PROJECT_DIR/.gitattributes" <<-EOL
          /$ASSETS_DIR export-ignore
          /.gitattributes export-ignore
          /.gitignore export-ignore
          /.github export-ignore
          EOL

          # Ensure we are in the $CI_PROJECT_DIR directory, just in case
          # The .gitattributes file has to be committed to be used
          # Just don't push it to the origin repo :)
          git add .gitattributes && git commit -m "Add .gitattributes file"
        fi

        # This will exclude everything in the .gitattributes file with the export-ignore flag
        git archive HEAD | tar x --directory="$TMP_DIR"

        cd "$SVN_DIR"

        # Copy from clean copy to /trunk, excluding dotorg assets
        # The --delete flag will delete anything in destination that no longer exists in source
        rsync -rc "$TMP_DIR/" trunk/ --delete --delete-excluded
      fi

      # Copy dotorg assets to /assets
      if [[ -d "$CI_PROJECT_DIR/$ASSETS_DIR/" ]]; then
        rsync -rc "$CI_PROJECT_DIR/$ASSETS_DIR/" assets/ --delete
      else
        echo "ℹ︎ No assets directory found; skipping asset copy"
      fi

      # Add everything and commit to SVN
      # The force flag ensures we recurse into subdirectories even if they are already added
      # Suppress stdout in favor of svn status later for readability
      echo "➤ Preparing files..."
      svn add . --force > /dev/null

      # SVN delete all deleted files
      # Also suppress stdout here
      svn status | grep '^\!' | sed 's/! *//' | xargs -I% svn rm %@ > /dev/null

      # Copy tag locally to make this a single commit
      echo "➤ Copying tag..."
      svn cp "trunk" "tags/$VERSION"

      # Fix screenshots getting force downloaded when clicking them
      # https://developer.wordpress.org/plugins/wordpress-org/plugin-assets/
      svn propset svn:mime-type image/png assets/*.png || true
      svn propset svn:mime-type image/jpeg assets/*.jpg || true

      svn status

      echo "➤ Committing files..."
      svn commit -m "Update to version $VERSION from GitHub" --no-auth-cache --non-interactive  --username "$SVN_USERNAME" --password "$SVN_PASSWORD"
      echo "✓ Plugin deployed!"
